@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito&family=Poppins&family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* background-color: #D9D9D9; */
}

.logo_menu {
    height: 80px;
    width: 112px;
}

/* função disponivel para leitores de tela */
.pular_conteudo {
    position: absolute;
    left: -999em;
}

/* distribuicao dos itens ocupando 80% da tela */
.tamanho_na_tela {
    width: 80%;
}

/*Inicio da estilização do menu */
.barramenu {
    background-color: #3576D6;
    font-size: 1.2rem;
}

.dropdown-menu {
    background-color: #3576D6;
}

.dropdown-item {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav {
    float: left;
}

.nav-item {
    padding-right: 10px;
}

.fa-search {
    color: #00bc03;
}

.form-control {
    border-radius: 10px;
}
/*Fim da estilização do menu */


/* Inicio do carrossel */
.carousel-caption a {
    text-decoration: none;
    font-size: 1.8rem;
    color: #fff;
    text-shadow: 0.03em 0.09em 0.3em #333;
    background-color: #7171719f;
    border-radius: 5px;
    padding: 5px;
    /* font-weight: 700; */
}

#carouselExampleCaptions img {
    height: 20em;
}
/* fim do carrossel */


/* index.html */
.titulo_index {
    color: #377ADE;
    width: 80%;
    margin: auto;
}

.titulo_cards {
    border-bottom: 3px solid #00bc03;
}

.imagem_card {
    height: 200px;
    object-fit: fill;
}
.ver_todos {
    font-weight: 700;
    color: #000;
    background-color: #377ADE;
}

.ver_todos a {
 text-decoration: none;
 color: #000;
}
/* Fim index.html */



/* Compartilhados Index e Hospedagem */
.card a {
    text-decoration: none;
    color: #377ADE;
}

.card a:hover {
    color: #2B5EAB;
}

.fa-star {
    font-size: 0.9rem;
}
/* fim compartilhados Index e Hospedagem */


/* Caminho de navegação */
.breadcrumb {
    width: 80%;
    margin: auto;
    font-size: 1rem;
    font-weight: 600;
    color: #222;
}

.breadcrumb a {
    text-decoration: none;
    color: #222;
}

.breadcrumb ol {
    display: flex;
}

.breadcrumb li {
    list-style: none;
}

.breadcrumb li::before {
    content: ">";
    margin: 4px;
    font-size: 0.9rem;
}

.breadcrumb li:first-child::before {
    content: "";
}

.breadcrumb a:hover {
    text-decoration: underline;
    text-shadow: 0.03em 0.03em 0.03em #333;
}
/* Fim caminho de navegação */


/* hoteis.html */
.hoteis {
    display: flex;
    margin: 5px 15px 50px 15px;
    background-color: #f7f2f2;
}

.hoteis img {
    width: 40%;
    max-width: 450px;
    max-height: 300px;
    margin: 10px;
    position: relative;
}
/* Fim hoteis.html */


/* hospedagem.html */
.titulo_hospedagem {
    color: #377ADE;
    width: 80%;
    margin: auto;
    border-bottom: 3px solid #00bc03;
}

.hotel_resumo {
    margin-bottom: 30px;
}

.card-body li {
    list-style: none;
}

.nota {
    display: flex;
    align-items: baseline;
}
.icon_beneficios {
    margin-right: 5px;
    font-size: 1.3rem;
}

.row ul {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.col-sm li {
    margin: 20px 0 20px 0;
}

.veja_informacoes {
    font-size: 1.2rem;
}

.mapastatic {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}
/* Fim hospedagem.html */

.rodape {
    color: #fff;
    background-color: #3576D6;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    height: 4em;
    align-items: center;
    justify-content: center;
}


/* .titulo_principal {
    font-family: 'Roboto', sans-serif;
    font-size: 3.3rem;
    color: #1C6FCF;
    display: flex;
    justify-content: center;
    margin-top: 10px;
} */

/* .bloco_beneficios_hotel {
    display: block;
    max-width: 700px;
}

.bloco_beneficios_hotel h2 {
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    color: #00361B;
    margin-top: 10px;
}

.bloco_beneficios_hotel li {
    margin-top: 10px;
    font-size: 1.2rem;
  font-weight: 900;
    list-style: none;
} */

/* .titulo_avaliacao {
    display: flex;
    height: 30%;
    margin-top: 50px;
} */

/* .classificao_hotel {
    margin-left: 25px;
}

.classificao_hotel a {
    display: flex;
    margin-top: 20px;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: #3B8AE4;
    border: 2px solid #3079cc;
    color: #222;
    border-radius: 5px;
    width: 135px;
    height: 40px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.classificacao_hotel a:hover {
    background-color: #7cafe9;
    color: #000000;
} */
/* Fim do bloco com informações dos hoteis */


@media(max-width: 1100px) {
    .nav-item {
        font-size: 1rem;
    }
}

/* Responsividade do site */
@media(max-width: 1050px) {
    .breadcrumb {
        font-size: 0.8rem;
    }

    .classificao_hotel a {
        font-size: 1.2rem;
        width: 120px;
        height: 35px;
    }
}

@media(max-width: 650px) {
    .distribuicao_itens {
        width: 100%;
    }

    #carouselExampleCaptions img {
        height: 15em;
    }

    .imagem_card {
        height: 250px;
    }


    .titulo_principal {
        font-size: 1.8rem;
    }

    .breadcrumb {
        font-size: 0.7rem;
    }

    .hoteis {
        display: block;
        text-align: center;
    }

    .hoteis img {
        width: 100%;
        margin: 0;
    }

    .bloco_beneficios_hotel li {
        margin: 2px;
        font-size: 0.9rem;
        text-align: start;
    }

    .bloco_beneficios_hotel h2 {
        font-size: 2rem;
    }

    .classificao_hotel a {
        font-size: 1rem;
        width: 100px;
        height: 30px;
    }

    .rodape {
        font-size: 0.9rem;
    }

}